
body {
  /* Show it's not fixed to the top */
  
min-height: 75rem;
  
padding-top: 4rem;

}

.navbar-default{
    background: #000000;
    background-image: -webkit-linear-gradient(top, #369, #963);
}
/*选项卡的字体颜色*/
.navbar .brand{
    color: #fff;
}