{% extends "_base_.html" %}
{% load my_markdown %}

{% block content %}
<div class="container">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ blog.title }}</h2>

                    <p class="post-meta">
                        {{ blog.timestamp|date:'Y /m /d'}}&nbsp;&nbsp;&nbsp;&nbsp;<a  href="/write/{{ blog.id }}">编辑</a> <a class="pull-right" href="/delete/{{ blog.id }}">删除</a></p><a href="#">{{ blog.category }}</a>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ blog.content | my_markdown | linebreaks}}
                    </p>
                </div>
        </section>
</div><!-- /.blog-post -->
{% endblock %}